################################
# Gradle
################################
.gradle/
build/

# Mantener archivos del Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

################################
# Logs
################################
*.log

################################
# Archivos del sistema
################################
.DS_Store
Thumbs.db

################################
# IntelliJ IDEA
################################
.idea/
*.iml
out/

################################
# Eclipse
################################
.project
.classpath
.settings/

################################
# VS Code
################################
.vscode/

################################
# Archivos temporales / backup
################################
*~
*.swp
*.tmp

################################
# Resultados de tests y reportes
################################
test-output/
test-results/
reports/
